<%- include("partials/header.ejs") %>
    <div class="box" id="heading">
        <h1> <%=listTitle%></h1>


    </div>

    <div class="box">

        <!-- loop through newItemsList and add each item to a new <p> -->
        <% for (let i = 0; i < newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>

        </div>

        <% } %>

        <!-- perform a post request with inputed infomation  -->
        <form class="item" action="/" , method="post">
            <input type="text" name="newItem" placeholder="Add your task" autocomplete="off"><br>
            <!-- use ejs variable to direct which list to POST to  -->
            <button type="submit" name ="listAddition" value= <%= listTitle %>  method="post">+</button>

        </form>

    </div>

    <%- include("partials/footer.ejs") %>

